<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/navbar.ejs") %>

    <main class="container">
        <h1>RESULTADO</h1>
        <div class="resultado">
            <table class="table table-dark table-striped">
                <tbody>
                    <tr class="table-dark">
                        <th>COTAÇÃO: </th>
                        <th><%- cotacao %></th>
                    </tr>
                    <tr class="table-dark">
                        <th>QUANTIDADE: </th>
                        <th><%- quantidade %></th>
                    </tr>
                    <tr class="table-dark">
                        <th>REAIS: </th>
                        <th><%- money %></th>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</body>

</html>